# Python Data Analysis Project:  Importing data & Exploring data (manipulation)

## Context:
- The data is about NBA (National Basketball Association) games from 2004 season to Dec, 2020.
- We'll be focusing on practicing importing data and data manipulation techniques learned in the course. But the dataset is also popular to be used for predicting NBA games winners.
- We've made minor changes on the data to fit this exercise, such as changing the column names. Check out the original source if you are interested in using this data for other purposes (https://www.kaggle.com/nathanlauga/nba-games)

## Dataset Description:

We'll work on two datasets (in two separate csv files):

  - **games**: each game from 2004 season to Dec 2020, including information about the two teams in each game, and some details like number of points, etc
  - **teams**: information about each team played in the games
  
Assume we want to study the game level data, but with detailed information about each team. We'll need to combine these two datasets together.

## Objective: 
   - Load/examine/subset/rename/change dtypes of columns for each individual dataset
   - Combine them into a single dataset, and export it
   - Explore the final dataset by subsetting or sorting

### 1. Import the libraries

In [1]:
import pandas as pd

C:\Users\Admin\AppData\Local\Temp\ipykernel_3388\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### 2. Load the data in `games.csv` as a DataFrame called `games`

Save the csv file under the same directory as the notebook if not typing the full path.

In [2]:
games=pd.read_csv('games.csv')

### 3. Look at the first 5 rows of the DataFrame

In [3]:
games.head()

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,POINTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-19,12000047,Final,1610612753,1610612766,2020,1610612753,120,0.433,0.792,...,23,50,1610612766,117,0.444,0.864,0.439,21,52,1
1,2020-12-19,12000048,Final,1610612764,1610612765,2020,1610612764,99,0.427,0.625,...,24,45,1610612765,96,0.402,0.647,0.326,18,51,1
2,2020-12-19,12000049,Final,1610612763,1610612737,2020,1610612763,116,0.400,0.744,...,21,43,1610612737,117,0.422,0.837,0.297,24,47,0
3,2020-12-18,12000039,Final,1610612754,1610612755,2020,1610612754,107,0.371,0.692,...,19,45,1610612755,113,0.533,0.629,0.355,23,48,0
4,2020-12-18,12000040,Final,1610612761,1610612748,2020,1610612761,105,0.380,0.737,...,27,37,1610612748,117,0.534,0.741,0.514,30,51,0

### 4. Look at the columns of the DataFrame

In [4]:
games.columns

Index(['GAME_DATE', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'POINTS_home',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'POINTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

### 5. Reassign `games` as its subset of the columns 'GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS'

We'll only keep some columns about the games

In [5]:
games = games[
             [ 'GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS']
             ]

### 6. Look at the new `games` DataFrame's first 5 rows, and info summary

In [6]:
games.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1
2,2020-12-19,Final,1610612763,1610612737,116,117,0
3,2020-12-18,Final,1610612754,1610612755,107,113,0
4,2020-12-18,Final,1610612761,1610612748,105,117,0

### 7. Convert `GAME_DATE` to a `datetime` dtype

In [7]:
games["GAME_DATE"] = pd.to_datetime(games["GAME_DATE"])

### 8. Convert `GAME_STATUS_TEXT` to a `string` dtype

In [8]:
games["GAME_STATUS_TEXT"] = games["GAME_STATUS_TEXT"].astype("string")

### 9. Look at the info summary of the DataFrame to verify the changes

In [9]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  datetime64[ns]
 1   GAME_STATUS_TEXT  23421 non-null  string
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: datetime64[ns](1), int64(5), string(1)
memory usage: 1.3 MB

### 10. Load the data in `teams.csv` as a DataFrame called `teams`, and look at its first 5 rows, and its columns

In [10]:
teams = pd.read_csv("teams.csv")
teams.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

### 11. Reassign `teams` as a subset of its columns 'TEAM_ID', 'CITY', 'NICKNAME', and look at its first 5 rows and info summary

We'll only keep some columns about the teams

In [11]:
teams = teams[
             ['TEAM_ID', 'CITY', 'NICKNAME']
             ]
teams.head()

      TEAM_ID         CITY   NICKNAME
0  1610612737      Atlanta      Hawks
1  1610612738       Boston    Celtics
2  1610612740  New Orleans   Pelicans
3  1610612741      Chicago      Bulls
4  1610612742       Dallas  Mavericks

### 12. Convert both columns `CITY` and `NICKNAME` to a `string` dtype

In [12]:
teams["CITY"] = teams["CITY"].astype("string")
teams["NICKNAME"] = teams["NICKNAME"].astype("string")

### 13. Verify the changes with the `dtypes` attribute

In [13]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TEAM_ID   30 non-null     int64
 1   CITY      30 non-null     string
 2   NICKNAME  30 non-null     string
dtypes: int64(1), string(2)
memory usage: 852.0 bytes

### 14. Print out the first two rows of `games` and `teams`, how can we combine them?

In [14]:
games.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1

In [15]:
teams.head(2)

      TEAM_ID     CITY NICKNAME
0  1610612737  Atlanta    Hawks
1  1610612738   Boston  Celtics

*Hint:*

*Within the `games` DataFrame, there are two columns `TEAM_ID_home` and `TEAM_ID_away`. This is because each game involves two teams playing against each other. The team that played in its own location, is called the 'home' team, the team that played outside its location, is called the 'away' team. Each game has one 'home' team and one 'away' team.*

*While the `teams` DataFrame stores the information about each team, the identifier for each team is the column `TEAM_ID`.*

*We can merge the two DataFrames based on:*

- *`TEAM_ID_home` in `games` and `TEAM_ID` in `teams`: to get the team information for the 'home' team*
- *`TEAM_ID_away` in `games` and `TEAM_ID` in `teams`: to get the team information for the 'away' team*

### 15. Merge (inner) `games` and `teams` based on 'TEAM_ID_home' and 'TEAM_ID', call the merged DataFrame `games_with_home_team`

In [16]:
games_with_home_team =pd.merge(games,teams ,how ="inner", left_on="TEAM_ID_home",right_on='TEAM_ID')

### 16. Print out the first 5 rows of the new DataFrame

Since we used the column `TEAM_ID_home` when merging, the two columns `CITY` and `NICKNAME` are storing the city and nickname of the 'home' team. 
So let's rename them.

In [17]:
games_with_home_team.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,CITY,NICKNAME
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-19,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards
2,2020-12-19,Final,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies
3,2020-12-18,Final,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers
4,2020-12-18,Final,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors

### 17. Rename the column `CITY` as 'city_home', `NICKNAME` as 'nickname_home'

In [18]:
games_with_home_team.rename(columns={"CITY":"city_home","NICKNAME":"nickname_home"})

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,city_home,nickname_home
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-19,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards
2,2020-12-19,Final,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies
3,2020-12-18,Final,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers
4,2020-12-18,Final,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors
...,...,...,...,...,...,...,...,...,...,...
23416,2014-10-06,Final,1610612737,1610612740,93,87,1,1610612737,Atlanta,Hawks
23417,2014-10-06,Final,1610612741,1610612764,81,85,0,1610612741,Chicago,Bulls
23418,2014-10-06,Final,1610612747,1610612743,98,95,1,1610612747,Los Angeles,Lakers
23419,2014-10-05,Final,1610612761,1610612758,99,94,1,1610612761,Toronto,Raptors
23420,2014-10-04,Final,1610612748,1610612740,86,98,0,1610612748,Miami,Heat

### 18. Merge (inner) `games_with_home_team` and `teams` based on 'TEAM_ID_away' and 'TEAM_ID', call the merged DataFrame `games_with_both_teams`

In [19]:
games_with_both_teams = pd.merge(games_with_home_team,teams ,how ="inner",left_on="TEAM_ID_away",right_on="TEAM_ID")

### 19. Print out the first two rows of the new DataFrame

Since we used the column `TEAM_ID_away` when merging, the two columns `CITY` and `NICKNAME` are storing the city and nickname of the 'away' team. 
So let's rename them.

In [20]:
games_with_both_teams.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,CITY_x,NICKNAME_x,TEAM_ID_y,CITY_y,NICKNAME_y
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,2020-12-19,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards,1610612765,Detroit,Pistons

### 20. Rename the column `CITY` as 'city_away', `NICKNAME` as 'nickname_away'

In [21]:
games_with_home_team.rename(columns={"CITY":"city_away","NICKNAME":"nickname_away"})

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,city_away,nickname_away
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-19,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards
2,2020-12-19,Final,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies
3,2020-12-18,Final,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers
4,2020-12-18,Final,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors
...,...,...,...,...,...,...,...,...,...,...
23416,2014-10-06,Final,1610612737,1610612740,93,87,1,1610612737,Atlanta,Hawks
23417,2014-10-06,Final,1610612741,1610612764,81,85,0,1610612741,Chicago,Bulls
23418,2014-10-06,Final,1610612747,1610612743,98,95,1,1610612747,Los Angeles,Lakers
23419,2014-10-05,Final,1610612761,1610612758,99,94,1,1610612761,Toronto,Raptors
23420,2014-10-04,Final,1610612748,1610612740,86,98,0,1610612748,Miami,Heat

### 21. Print out the first 5 rows of the new DataFrame

You probably have noticed that there are two columns called `TEAM_ID_x` and `TEAM_ID_y`. This is because we merged the DataFrame twice with the `teams` DataFrame. So the `TEAM_ID` column from `teams` is added twice to the merged DataFrame. 

To avoide duplicate column names, `pandas` added the suffixes of '_x' and '_y' to distinguish them. But due to inner joins, `TEAM_ID_x` is the same as `TEAM_ID_home`, and `TEAM_ID_y` is the same as `TEAM_ID_away`.

In [22]:
games_with_home_team.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,CITY,NICKNAME
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-19,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards
2,2020-12-19,Final,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies
3,2020-12-18,Final,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers
4,2020-12-18,Final,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors

### The team ID columns are not needed after the merge of the DataFrames. 

### The below code is provided to drop the columns 'TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y' from `games_with_both_teams`. We'll learn about this `drop` method in a later section

In [23]:
games_with_both_teams = games_with_both_teams.drop(columns=['TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y'])
games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,POINTS_home,POINTS_away,HOME_TEAM_WINS,CITY_x,NICKNAME_x,CITY_y,NICKNAME_y
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-19,Final,99,96,1,Washington,Wizards,Detroit,Pistons
2,2020-12-19,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
3,2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
4,2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat

### 22. Make a copy of `games_with_both_teams` and assign it as `games`

In [24]:
games = games_with_both_teams.copy()

### 23. Change the column names in `games` to all lowercase

In [25]:
games.columns = games.columns.str.lower()

### 24. Print out the columns of `games` to verify the changes

In [26]:
games.columns

Index(['game_date', 'game_status_text', 'points_home', 'points_away',
       'home_team_wins', 'city_x', 'nickname_x', 'city_y', 'nickname_y'],
      dtype='object')

### 25. Print out the columns of `games_with_both_teams` to verify that the original DataFrame wasn't impacted by the copy

In [27]:
games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,POINTS_home,POINTS_away,HOME_TEAM_WINS,CITY_x,NICKNAME_x,CITY_y,NICKNAME_y
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-19,Final,99,96,1,Washington,Wizards,Detroit,Pistons
2,2020-12-19,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
3,2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
4,2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat

### 26. Check the dimensionality  of `games`

In [28]:
games.shape

(23421, 9)

### 27. Export `games` as a csv file called 'games_transformed.csv', and open the csv file to look at it

Feel free to test the difference of the csv files with or without the argument `index=False`

In [29]:
games.to_csv("games_transfromed.csv",index=False)

### 28. Select all the columns of 'number' dtypes from `games`

In [30]:
games.select_dtypes(include="number")

       points_home  points_away  home_team_wins
0              120          117               1
1               99           96               1
2              116          117               0
3              107          113               0
4              105          117               0
...            ...          ...             ...
23416           93           87               1
23417           81           85               0
23418           98           95               1
23419           99           94               1
23420           86           98               0

[23421 rows x 3 columns]

### 29. Select all the columns NOT of 'number' dtypes from `games`

In [31]:
games.select_dtypes(exclude="number")

,game_date,game_status_text,city_x,nickname_x,city_y,nickname_y
0,2020-12-19,Final,Orlando,Magic,Charlotte,Hornets
1,2020-12-19,Final,Washington,Wizards,Detroit,Pistons
2,2020-12-19,Final,Memphis,Grizzlies,Atlanta,Hawks
3,2020-12-18,Final,Indiana,Pacers,Philadelphia,76ers
4,2020-12-18,Final,Toronto,Raptors,Miami,Heat
...,...,...,...,...,...,...
23416,2014-10-06,Final,Atlanta,Hawks,New Orleans,Pelicans
23417,2014-10-06,Final,Chicago,Bulls,Washington,Wizards
23418,2014-10-06,Final,Los Angeles,Lakers,Denver,Nuggets
23419,2014-10-05,Final,Toronto,Raptors,Sacramento,Kings
23420,2014-10-04,Final,Miami,Heat,New Orleans,Pelicans

### 30. Print out the first 5 rows of `games` as a reference

In [32]:
games.head()

,game_date,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-19,Final,99,96,1,Washington,Wizards,Detroit,Pistons
2,2020-12-19,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
3,2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
4,2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat

### 31. Select the row with label 0

In [33]:
games.loc[0]

game_date           2020-12-19 00:00:00
game_status_text                  Final
points_home                         120
points_away                         117
home_team_wins                        1
city_x                          Orlando
nickname_x                        Magic
city_y                        Charlotte
nickname_y                      Hornets
Name: 0, dtype: object

### 32. Select the row with integer position 0

In [34]:
games.iloc[0]

game_date           2020-12-19 00:00:00
game_status_text                  Final
points_home                         120
points_away                         117
home_team_wins                        1
city_x                          Orlando
nickname_x                        Magic
city_y                        Charlotte
nickname_y                      Hornets
Name: 0, dtype: object

### 33. Set the column `game_date` as the index of DataFrame `games`

In [35]:
games=games.set_index("game_date")

### 34. Print out the index of `games` to verify the changes

In [36]:
games.head()

,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y
game_date,,,,,,,,
2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
2020-12-19,Final,99,96,1,Washington,Wizards,Detroit,Pistons
2020-12-19,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat

### 35. Select the rows with label '2020-12-18'

In [37]:
games.loc["2020-12-18"]

,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y
game_date,,,,,,,,
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers

### 36. Select the rows with labels from '2020-12-18' to '2020-12-19'

In [38]:
games.loc['2020-12-18']

,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y
game_date,,,,,,,,
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers

### 37. Select the rows with labels of '2020-12-18' and '2019-12-18'

In [39]:
games.loc["2019-12-18"]

,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y
game_date,,,,,,,,
2019-12-18,Final,100,98,1,Cleveland,Cavaliers,Charlotte,Hornets
2019-12-18,Final,99,112,0,Detroit,Pistons,Toronto,Raptors
2019-12-18,Final,109,110,0,Washington,Wizards,Chicago,Bulls
2019-12-18,Final,104,108,0,Philadelphia,76ers,Miami,Heat
2019-12-18,Final,99,107,0,Minnesota,Timberwolves,New Orleans,Pelicans
2019-12-18,Final,126,122,1,Oklahoma City,Thunder,Memphis,Grizzlies
2019-12-18,Final,113,104,1,Denver,Nuggets,Orlando,Magic
2019-12-18,Final,103,109,0,Dallas,Mavericks,Boston,Celtics
2019-12-18,Final,122,112,1,Portland,Trail Blazers,Golden State,Warriors

### 38. Select the rows with `points_home` greater than 150

In [40]:
games[games['points_home']>150]

,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y
game_date,,,,,,,,
2020-08-25,Final,154,111,1,Los Angeles,Clippers,Dallas,Mavericks
2020-01-28,Final,151,131,1,Milwaukee,Bucks,Washington,Wizards
2020-01-26,Final,152,133,1,Atlanta,Hawks,Washington,Wizards
2010-03-16,Final,152,114,1,Phoenix,Suns,Minnesota,Timberwolves
2008-04-06,Final,151,147,1,Oklahoma City,Thunder,Denver,Nuggets
2008-03-16,Final,168,116,1,Denver,Nuggets,Oklahoma City,Thunder
2006-12-27,Final,151,145,1,New York,Knicks,Detroit,Pistons
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns
2019-11-30,Final,158,111,1,Houston,Rockets,Atlanta,Hawks
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-01-10,Final,154,147,1,San Antonio,Spurs,Oklahoma City,Thunder

### 39. Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1

In [41]:
games[(games["points_home"]>150) & (games["home_team_wins"] !=1)]

,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y
game_date,,,,,,,,
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls

### 40. Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1, as well as the columns `home_team_wins` and `points_home`

In [42]:
games.loc[(games["points_home"]>150)& (games["home_team_wins"]!=1),["home_team_wins","points_home"]]

            home_team_wins  points_home
game_date
2006-12-07               0          157
2019-10-30               0          158
2019-03-01               0          161

### 41. Reset the index of `games` back to default and verify the changes

In [44]:
games = games.reset_index()
games.head()

,index,game_date,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y
0,0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,1,2020-12-19,Final,99,96,1,Washington,Wizards,Detroit,Pistons
2,2,2020-12-19,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
3,3,2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
4,4,2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat

### 42. Add a new column called `points_total`, as the sum of columns `points_home` and `points_away`

In [47]:
games["points_total"] = games["points_home"] + games["points_away"]
games.head()

,index,game_date,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y,points_total
0,0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets,237
1,1,2020-12-19,Final,99,96,1,Washington,Wizards,Detroit,Pistons,195
2,2,2020-12-19,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks,233
3,3,2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers,220
4,4,2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat,222

### 43. Verify the changes by printing out the three columns `points_home`, `points_away`, `points_total`

In [49]:
games[["points_away","points_home","points_total"]]

       points_away  points_home  points_total
0              117          120           237
1               96           99           195
2              117          116           233
3              113          107           220
4              117          105           222
...            ...          ...           ...
23416           87           93           180
23417           85           81           166
23418           95           98           193
23419           94           99           193
23420           98           86           184

[23421 rows x 3 columns]

### 44. Print out the 3 rows with the largest `points_total` using the `nlargest` method

In [52]:
games.nlargest(3,columns='points_total')

,index,game_date,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y,points_total
16800,16800,2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls,329
11596,11596,2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
16298,16298,2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets,317

### 45. Sort the DataFrame `games` by its `points_total` column in ascending order

Don't forget to reassign the sorted result back to `games`

In [61]:
games = games.sort_values(by="points_total")
games.head()

,index,game_date,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y,points_total
10501,10501,2007-10-19,Final,36,33,1,Boston,Celtics,Brooklyn,Nets,69
16047,16047,2003-10-08,Final,62,58,1,Indiana,Pacers,Chicago,Bulls,120
14676,14676,2004-11-09,Final,64,60,1,Brooklyn,Nets,Portland,Trail Blazers,124
13800,13800,2005-03-13,Final,64,62,1,Detroit,Pistons,Utah,Jazz,126
16006,16006,2003-11-01,Final,73,56,1,Minnesota,Timberwolves,Toronto,Raptors,129

### 46. Print out the last 3 rows of the sorted DataFrame

Verify that it's the same three rows as the previous example (`nlargest`)

In [60]:
games.tail(3)

,index,game_date,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y,points_total
16298,16298,2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets,317
11596,11596,2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
16800,16800,2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls,329

### 47. Given that the DataFrame is sorted by `points_total`, select the row with the smallest `points_total` using `iloc`

In [70]:
games.iloc[1]

index                             16047
game_date           2003-10-08 00:00:00
game_status_text                  Final
points_home                          62
points_away                          58
home_team_wins                        1
city_x                          Indiana
nickname_x                       Pacers
city_y                          Chicago
nickname_y                        Bulls
points_total                        120
Name: 16047, dtype: object

### 48. Select the rows with the second, and third smallest `points_total` using `iloc`

In [77]:
games.iloc[[0,2]]

,index,game_date,game_status_text,points_home,points_away,home_team_wins,city_x,nickname_x,city_y,nickname_y,points_total
10501,10501,2007-10-19,Final,36,33,1,Boston,Celtics,Brooklyn,Nets,69
14676,14676,2004-11-09,Final,64,60,1,Brooklyn,Nets,Portland,Trail Blazers,124

### 49. Select a subset including the first 4 rows, and the first 5 columns using `iloc`

In [94]:
games.iloc[:4,:4]

       index  game_date game_status_text  points_home
10501  10501 2007-10-19            Final           36
16047  16047 2003-10-08            Final           62
14676  14676 2004-11-09            Final           64
13800  13800 2005-03-13            Final           64

In [97]:
games.iloc[:4,:5]

       index  game_date game_status_text  points_home  points_away
10501  10501 2007-10-19            Final           36           33
16047  16047 2003-10-08            Final           62           58
14676  14676 2004-11-09            Final           64           60
13800  13800 2005-03-13            Final           64           62